.article {
  @apply mx-auto;
  @apply mt-12;
  @apply mb-12;
  max-width: 35em;
}

.article:first-child {
  margin-top: 0;
}

.article.collapsed {
  @apply p-2;
  @apply mt-4;
  @apply mb-4;

  border-radius: 3px;
  cursor: pointer;
}

.article.collapsed:hover {
  background: theme(colors.gray.200);
}

.article .header {
  @apply mb-4;
}

.article.collapsed .header {
  @apply mb-2;
}

.article .header .subtitle {
  @apply mt-2;
}

