.article {
  @apply mx-auto;
  @apply mt-12;
  @apply mb-12;
  max-width: 35em;
}

.article:first-child {
  margin-top: 0;
}

.article.collapsed {
  @apply p-2;
  @apply mt-4;
  @apply mb-4;

  border-radius: 3px;
  cursor: pointer;
}

.article.collapsed:hover {
  background: theme(colors.gray.200);
}

.article .header {
  @apply mb-4;
}

.article.collapsed .header {
  @apply mb-2;
}

.article .header .subtitle {
  @apply mt-2;
}

.article .body p {
  @apply mb-4;

  line-height: 1.75;
}

.article .body p:last-child {
  @apply mb-0;
}

.article .body blockquote {
  @apply pl-4;
  @apply my-4;

  color: theme(colors.gray.600);
  border-left: 5px solid theme(colors.gray.300);
}

.article .body a {
  text-decoration: underline;
  color: theme(colors.blue.400);
}

.collapser {
  height: 1em;
  width: 100%;
  cursor: pointer;
}
